.div1{
    background-color: cyan;
    height: 10vh;
}
.div2{
    background-color: darkcyan;
    height: 20vh;
}
.div3{
    background-color: darkgray;
    height: 20vh;
}
.div4{
    background-color: darkgrey;
    height: 25vh;
}
.div5{
    background-color: darkslategray;
    height: 25vh;
}
.div6{
    background-color: gray;
    height: 20vh;
}