*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div1{
    background-color: chartreuse;
    height: 5vh;
    width: 100%;
 float: left;
}
.div2{
    background-color: coral;
    height: 8vh;
    width: 100%;
    float: left;
}
.div3{
    float: left;
    background-color: darkcyan;
    height: 15vh;
    width: 30%;
}
.div4{
    background-color: darkgray;
    height: 15vh;
    width: 70%;
    float: left;

}
.div5{
    background-color: darkkhaki;
    height: 20vh;
    width: 70%;
    float: left;
}
.div6{
    background-color: darksalmon;
    height: 20vh;
    width: 30%;
    float: right;
}
.div7{
    background-color: deepskyblue;
    height: 90vh;
    width: 15%;
    float: left;
}
.div8{
    background-color: forestgreen;
    height: 45vh;
    width: 85%;
    float: left;
}
.div9{
    background-color: fuchsia;
    height: 45vh;
    width: 85%;
    float: left;
}