<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="container"></div>

    <br>
    <input type="text" placeholder="Article Title" id="titleInp">
    <br>
    <select  placeholder="Article Category" id="categorySelect">
        <option value="">Select Category</option>
        <option value="news">News</option>
        <option value="sport">Sport</option>
        <option value="politics">politics</option>
        <option value="Beauty">Beauty</option>
    </select>
    <br>
    <textarea  id="descriptionText" cols="30" rows="10"></textarea>
    <br>
    <button id="submitBtn">submit</button>

<script src="/frontend/dist/script.js"></script>    
</body>
</html>