<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav>
        <!-- ul>li*5>a -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="banner"></div>
    <!-- div.cards>h2+div.cards-container>div*3>div.card-head+div.card-content -->
    <div class="cards">
        <h2>Contact  Us</h2>
        <div class="cards-container">
            <form action="/contact" method="GET">
                <div class="section">
                    <div class="input-container">
                        <input type="text" placeholder="Name" name="name">
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Subject" name="subject">
                    </div>
                    <div class="input-container">
                        <textarea  cols="30" rows="10" placeholder="Message" name="message"></textarea>
                    </div>
                    <button class="footer-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="section">
            <div class="logo-container">
                <img src="./img/Logo.png" alt="">
            </div>
            <div class="contact-container">
                <ul>
                    <li><a href="#" ><i class="far fa-envelope"></i> info@digitalcareerinstitute.org</a></li>
                    <li><a href="#" ><i class="fas fa-phone-alt"></i> 015211336008</a></li>
                    <li><a href="https://www.digitalcareerinstitute.org" ><i class="fas fa-globe"></i> https://www.digitalcareerinstitute.org</a></li>
                </ul>
            </div>

        </div>
        <div class="section">
            <ul class="social">
                <li><a href="#"><i class="fab fa-facebook-square"></i> facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-youtube-square"></i> youtube</a></li>
            </ul>
        </div>
        <div class="section">
            <div class="input-container">
                <input type="text" placeholder="Name">
            </div>
            <div class="input-container">
                <input type="text" placeholder="Subject">
            </div>
            <div class="input-container">
                <textarea  cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <button class="footer-btn">Send</button>
        </div>
    </div>
</body>
</html>