<footer>
    <div>
        <h3><%=footerName%></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos animi possimus, quo voluptates inventore vero nostrum, laudantium impedit sit numquam ad. Fugiat ipsum natus iste minus quia, ea in! Commodi?</p>
    </div>
</footer>