<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="/register">
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit"  id="submitBtn" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="#" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        $(document).ready(()=>{
            $("#submitBtn").click(e=>{
                e.preventDefault()
                //console.log(submitBtn);
          const nameInput = document.querySelector('#name')
          const passwordInput = document.querySelector('#password')
          const repasswordInput = document.querySelector('#re_password')
          const emailInput = document.querySelector('#email')
          const checkInput = document.querySelector('#agree-term')
          const formElement = document.querySelector('#signup-form')
          
            //another method aside fetch
          // creating check Validation variable
          let checkValidation = {
                check: true,
                message: ''
            }
            if (!nameInput.value.trim() ) {
                checkValidation.check = false
                checkValidation.message = 'Name is empty \n'
            }

            if (!emailInput.value.trim() ) {
                checkValidation.check = false
                checkValidation.message += 'Email is empty \n'
            }
            if (!passwordInput.value ) {
                checkValidation.check = false
                checkValidation.message += 'Password is empty \n'
            }
            if (passwordInput.value !== repasswordInput.value ) {
                checkValidation.check = false
                checkValidation.message += 'Password does not match the repassword \n'
            }
            if (!checkInput.checked) {
                checkValidation.check = false
                checkValidation.message += 'you have to agree to terms of usage \n'
            }

            if (checkValidation.check) {
                // send data to the server
                
                formElement.submit()
            } else {
                // e.preventDefault()
                alert(checkValidation.message)
            }
            })
        })
    //      document.querySelector('#submitBtn').addEventListener('click',e => {
    //       e.preventDefault()
          
          

    //   })
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>