<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About home page</title>
</head>
<body>
    <div>
        <h2>About home page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea, quibusdam optio aspernatur hic delectus molestiae asperiores blanditiis, nulla obcaecati totam a sequi sint in officia id dolorem vero error!</p>
        <a href="/home">Go Home</a>
    </div>
</body>
</html>