<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
</head>
<body>
    this is a shared content
    <form method="GET" action="/contact">
        <input placeholder="firstname" type="text">
        <br>
        <input placeholder="lastname" type="text">
        <br>
        <input placeholder="email" type="text">
        <br>
        <textarea placeholder="message" name="message" id="" cols="30" rows="10"></textarea>
        
        <input  type="button" value="send">
    </form>
    this is a shared content
</body>
</html>