<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/somecss">
</head>
<body>
    this is a shared content
    <div>
        <h2>you are at home</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique odio illo laboriosam libero magnam ut quasi alias natus deleniti, dolorum et eveniet minus rerum fuga, culpa, est praesentium. Accusamus, commodi.</p>
        <a href="/about">About</a>
    </div>
</body>
</html>