<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h2>File upload</h2> 

    <form action="/" method="post" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="enter your name">
    <br>
    <input type="file" name="photo">  
    <br>
    <input type="submit" value="send"> 
</form>
</body>
</html>