*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    height: 20vh;
    background-color: darkgreen;
}
.subhead{
    display: flex;
}
.div1{
flex-grow: 3;
height: 60vh;
background-color: lightcyan;
}
.div2{
flex-grow: 1;
height: 60vh;
background-color: darkgrey;
}
.div3{
flex-grow: 2;
height: 60vh;
background-color: lightgray;
}